In [112]:
import pandas as pd
import csv

In [113]:
file_path = '/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/responses_Kamila_1.txt'
df = pd.read_csv(file_path)
df.head()

  1\t1\t1\t2\t4\t1\t1\t1\t2021\t0\t1\t0\t1\t0\t3\t2\t3\t1\t1\t2\t1\t0\t0\t0\t1\t0\t0\t3\t3\t3\t1\t3\t0\t0\t1\t0\t0\t0\t0\t2\t1\t1\t2\t2\t3\t3
0  2\t1\t2\t4\t3\t1\t2\t1\t2020\t1\t1\t0\t0\t0\t2...
1  3\t1\t2\t2\t4\t1\t2\t1\t2020\t1\t0\t0\t0\t0\t2...
2  4\t2\t4\t4\t3\t3\t2\t1\t2021\t1\t1\t0\t0\t0\t4...
3  5\t2\t3\t1\t2\t1\t2\t1\t2019\t1\t1\t0\t0\t0\t2...
4  6\t2\t3\t3\t3\t1\t2\t1\t2021\t0\t0\t0\t0\t1\t2...

In [114]:
# Read the text file and convert it to a CSV file
input_file = '/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/responses_Kamila_1.txt'
output_file = '/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_again3.csv'

In [115]:
output_file

'/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_again3.csv'

In [116]:
# Open the text file for reading
with open(input_file, 'r') as infile:
    # Read all lines from the text file
    lines = infile.readlines()

# Open the CSV file for writing
with open(output_file, 'w', newline='') as outfile:
    # Create a CSV writer object with tab delimiter
    csv_writer = csv.writer(outfile, delimiter=',')  # You can use ',' or any separator
    
    # Loop through each line in the text file
    for line in lines:
        # Strip any leading/trailing whitespaces and split the line by tabs
        row = line.strip().split('\t')  # Split by tab
        # Write the row to the CSV file
        csv_writer.writerow(row)

print(f"Data has been converted to {output_file}")

Data has been converted to /Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_again3.csv

In [117]:
df = pd.read_csv('/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_again3.csv', header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,1,1,1,2,4,1,1,1,2021,0,...,0,0,0,2,1,1,2,2,3,3
1,2,1,2,4,3,1,2,1,2020,1,...,0,0,0,2,1,2,2,2,3,3
2,3,1,2,2,4,1,2,1,2020,1,...,0,0,0,2,1,1,2,1,3,2
3,4,2,4,4,3,3,2,1,2021,1,...,0,0,0,4,2,3,3,1,3,4
4,5,2,3,1,2,1,2,1,2019,1,...,0,0,0,2,1,1,3,3,3,3

In [118]:
columns = ['Patient IDs','Gender', 'Age group', 
           'Residence place', 'Education level', 'Income source', 
           'Marital status', 'Smoked cigarettes', 'Year',  'Surgical treatment received', 'Chemotherapy received', 'Radiotherapy received', 'Immunotherapy received', 'Molecularly targeted therapy received','No. of hospitalizations', 'Time elapsed (from diagnosis to treatment)', 
           'Extent of medical treatment (daily functioning)', 
           'Emotional state after the diagnosis', 'Staying indoors','Rating (quality of life)', 'Symptom (Cough)', 'Symptom (Hoarseness)',
           'Symptom (Coughing up blood)','Symptom (Chest pain)','Symptom (Shortness of breath)', 'Symptom (Weakness)', 'Symptom (None of the above)','Symptoms occurred (last 3 months)', 
           'Symptoms affecting performance', 'Trouble sleeping and waking up', 
           'Support (friends, family)', 'Afraid of being dependent', 
           'Satisfied with health condition', 
           'Affecting Physical aspect','Affecting Pyschological aspect', 'Affecting Professional life', 'Affecting Family life', 'Affecting Social life', 'Does not affect', 'Enough energy (daily life)',
           'Difficulty in self-care (moving, washing, dressing)', 'Difficulty in daily activities', 
           'Satisfaction level (readiness to work)', 'Satified with the support','Coping mechnism', "Experience negative feelings"]

In [119]:
df.columns = columns

In [120]:
df.to_csv('/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_latest3_csv.csv', header=columns, index=False)

In [121]:
df = pd.read_csv('/Users/sakshihegde/Documents/MS DS UoR /Sem 1/DSCC 440 (Data Mining)/Project 1/data_latest3_csv.csv')
df.head()

,Patient IDs,Gender,Age group,Residence place,Education level,Income source,Marital status,Smoked cigarettes,Year,Surgical treatment received,...,Affecting Family life,Affecting Social life,Does not affect,Enough energy (daily life),"Difficulty in self-care (moving, washing, dressing)",Difficulty in daily activities,Satisfaction level (readiness to work),Satified with the support,Coping mechnism,Experience negative feelings
0,1,1,1,2,4,1,1,1,2021,0,...,0,0,0,2,1,1,2,2,3,3
1,2,1,2,4,3,1,2,1,2020,1,...,0,0,0,2,1,2,2,2,3,3
2,3,1,2,2,4,1,2,1,2020,1,...,0,0,0,2,1,1,2,1,3,2
3,4,2,4,4,3,3,2,1,2021,1,...,0,0,0,4,2,3,3,1,3,4
4,5,2,3,1,2,1,2,1,2019,1,...,0,0,0,2,1,1,3,3,3,3